# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/.vitepress/cache
frontend/.temp
.venv
backend/pip-wheel-cache
backend/dist
database.db
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
.DS_Store
dist
dist-ssr
coverage
*.local

backend/__pycache__
backend/db_data

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
